{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Введите город</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'weather/css/style_weather.css' %}" rel="stylesheet">
</head>
<body>
    <div class="form-container">
        <div class="color-block blue">
            <h2>Введите город</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-custom">Получить погоду</button>
        </form>
        {% if last_city %}
            <p>Вы ранее смотрели погоду в городе <a href="{% url 'weather:weather' city=last_city %}">{{ last_city }}</a>.</p>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
